<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Form Simpanan Suka Rela" [options]="false">
      <form [formGroup]="formTambah" enctype="multipart/form-data">
        <label for="exampleFormControlTextarea1">Masukan Nilai Setoran</label>
        <div class="input-group mb-3" style="width: 50% !important;">
          <div class="input-group-prepend">
            <span class="input-group-text">Rp</span>
          </div>
          <input  onpaste="return false;" type="text" class="form-control" formControlName="nominalTransaksi" aria-label="Amount (to the nearest dollar)" currencyMask [options]="{ prefix: 'Rp ', thousands: '.', decimal: ',' }">
        </div>
        <div class="form-group mb-4" style="width: 50% !important;">
          <label for="exampleFormControlTextarea1">Keterangan</label>
          <textarea class="form-control" formControlName="deskripsi" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <label for="exampleFormControlTextarea1">Bukti Pembayaran</label>
        <small id="emailHelp" class="form-text text-muted">kirim file gambar bukti pembayaran berupa foto ataupun screenshoot dari media.</small>
        <div class="input-group cust-file-button mb-5"  style="width: 50% !important;">
          <div class="custom-file">
            <input type="file" (change)="selectFile($event)" class="custom-file-input" id="inputGroupFile04" accept="image/*">
            <label class="custom-file-label" id="label-file" for="inputGroupFile04">Choose file</label>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
          <button class="btn btn-secondary" type="button" routerLink="/transaksi/simpanan-sukarela">
            Kembali
          </button>
          <button type="submit" (click)="save()" class="btn btn-success" id="but_sub">
            <span style="color: black; display: inline;" id="loader-text">Kirim Setoran</span>
            <span id="login-loader" style="display: none">
              <i class="fa fa-spinner fa-spin"></i>
            </span>
         </button>
        </div>
      </form>
    </app-card>
  </div>
</div>
