<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Pinjaman" [options]="false" *ngIf="pages == 'checking'">
      <button type="button" class="btn btn-success" (click)="checkAkun()">Cek Akun</button>
    </app-card>
    <app-card cardTitle="Options" [options]="false">
      <button type="button" class="btn btn-primary" routerLink="menunggu-konfirmasi">Transaksi Belum Terkonfirmasi</button>
      <button type="button" class="btn btn-success" routerLink="tambah"><i class="feather icon-plus"></i>Tambah</button>
      <button type="button" class="btn btn-danger" routerLink="tolak">Pinjaman Ditolak</button>
    </app-card>
    <app-card cardTitle="Data Pinjaman" [options]="false">
    </app-card>
  </div>
</div>
