<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Options" [options]="false">
      <button type="button" class="btn btn-primary" routerLink="menunggu-konfirmasi">Transaksi Belum Terkonfirmasi</button>
      <button type="button" class="btn btn-success" routerLink="tambah"><i class="feather icon-plus"></i>Tambah</button>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Data Simpanan Wajib" [options]="true">
      <section>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="cards table table-sm table-hover" style="width: 100%;">
            </table>
        </div>
      </section>
    </app-card>
  </div>
</div>
